# DEPENDENCY FOLDERS
node_modules/

# ENVIRONMENT CONFIGS
.env

# SERVER LOGS
logs/
*.log

# BUILD FILES
public/build/
public/data/

# MISC THINGS
__*
*.pdf

# SUBLIME STUFF
*sublime-project
*sublime-workspace
