<h1>Business Listings</h1>

{{> pagination per_page=model.per_page }}

<ul>
{{#each businesses}}
    <li><a href="/businesses/{{ id }}">{{ name }}</a></li>
{{/each}}
</ul>

{{> pagination per_page=model.per_page }}

