{{#if pages }}
    <section class="pagination">

        <div>
            <label for="pageSizeControl">Page size</label>
            <select name="pageSizeControl" id="" action="pageSizeControl">
                {{#each model.pageSizes }}
                    <option value="{{ . }}" {{{eqSelected . ../per_page }}}>{{ . }}</option>
                {{/each}}
            </select>
        </div>

        <nav role="pagination">
            {{#each pages}}
                {{#if first}}<a href="/businesses/page/1">First</a>{{/if}}



                {{#if last}}<a href="/businesses/page/{{ lastIndex }}">Last</a>{{/if}}
            {{/each}}
        </nav>

    </section>
{{/if}}
