{{#if pages }}
    <section class="pagination fluid-row clearfix">

        <div class="col3">
            <label for="pageSizeControl">Page size</label>
            <select name="pageSizeControl" id="" action="pageSizeControl">
                {{#each model.pageSizes }}
                    <option value="{{ . }}" {{{eqSelected . ../per_page }}}>{{ . }}</option>
                {{/each}}
            </select>
        </div>

        <nav class="col6" role="pagination">
            <div class="pagination no-b">
                <ul>
                    <li><a href="#" class="btn btn-default">«</a></li>
                    <li><a href="#" class="btn btn-default">1</a></li>
                    <li><a href="#" class="btn btn-default">2</a></li>
                    <li><a href="#" class="btn btn-default active">3</a></li>
                    <li><a href="#" class="btn btn-default">4</a></li>
                {{#each pages }}
                    <li><a href="#" class="btn btn-default">6</a></li>
                {{/each}}
                    <li><a href="#" class="btn btn-default">5</a></li>
                    <li><a href="#" class="btn btn-default">6</a></li>
                    <li><a href="#" class="btn btn-default">»</a></li>
                </ul>
            </div>
            {{pagination pages }}
        </nav>

    </section>
{{/if}}
