
// @sauce: https://github.com/mrmrs/colors
// colors
$aqua           = #7fdbff
// $blue           = #0074d9
$blue           = #3498db
$navy           = #001f3f
$teal           = #39cccc
$green          = #2ecc40
$olive          = #3d9970
$lime           = #01ff70

// Warm
$yellow         = #ffdc00
$orange         = #ff851b
$red            = #ff4136
$fuchsia        = #f012be
$purple         = #b10dc9
$maroon         = #85144b

// Gray Scale
$white          = #fff
$silver         = #ddd
$platinum       = lighten($silver, 70%)
$gray           = #aaa
$black          = #353535


$font-stack     = 'Source Sans Pro', sans-serif


@import "_normalize"
@import "schema/index"
@import "_fontawesome"



// LAYOUT
.wrapper
    padding-top: 5rem

.container
    padding: 0 .5rem



// NAVIGATION
.nav
    position: fixed
    top: 0
    width: 100%
    box-shadow: 0 0 5px rgba(0,0,0,.2)
    padding: 0.6rem 0
    z-index: 10000



// BRAND
.brand
    font-size: 1.5rem
    font-weight: bold

    a
        padding: 0.2rem 0 0.5rem

        > span
            color: $blue



// LISTINGS
[role="listings"]
    > li
        padding: 0.7rem 0.8rem

        *
            vertical-align: text-top

        &:nth-child(odd)
            background: $platinum



// BUSINESS PROFILE

img
    display: inline-block
    width: 100%




// TYPOGRAPHY
.text-right
    float: right

.text-center
    text-align: center



// PAGINATION
.pagination
    label
        display: inline-block

    a
        min-width: 2rem
        text-align: center

        > i:before
            margin: 0


// FOOTER
footer
    text-align: center
    padding: 2rem 0
    margin: 4rem 0 0
    top: auto
    bottom: 0
    background-color: $platinum



// EXTRANEOUS STUFF HERE
$gitIconSize    = 3.9rem

.github-corner
    border: 0
    color: $white
    fill: $blue
    transition: .2s linear fill color
    width: $gitIconSize
    height: $gitIconSize
    position: fixed
    right: 0
    z-index: 99
    top: 0

    &:hover
        background-color: transparent
        color: $white
        fill: darken($blue, 15%)

        .octo-arm
            animation: octocat-wave 560ms infinite


@keyframes octocat-wave
    0% , 50%
        -webkit-transform: rotate(0)
        transform: rotate(0)

    25% , 75%
        -webkit-transform: rotate(-25deg)
        transform: rotate(-25deg)


