
//------------------------------------\\
//
//       @Alerts
//
//------------------------------------//
.alert
    color: inherit
    border: 1px solid transparent
    display: block
    padding: 1rem
    background-color: #ecfbf2
    border-radius: 6px

.alert > h4
    color: inherit
    margin-top: 0

.alert > p
    color: inherit
    margin: 0

.alert i
    float: right

.alert a
    text-decoration: underline

.alert a:hover
    text-decoration: none

.alert .btn
    margin-top: 1.4rem

.alert i:before,
.alert .fa:before
    margin-top: 3px
    display: inline-block

.alert a,
.alert a:hover
    color: inherit
    font-weight: bold

span.close
    float: right
    color: inherit
    font-weight: bold
    cursor: pointer
