
//------------------------------------\\
//
//       @Panels
//
//------------------------------------//
.panel
    border: 1px solid transparent
    background-color: $white
    border-radius: 6px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)

.panel-title
    padding: 1.5rem 0.875rem
    border-top-right-radius: 6px
    border-top-left-radius: 6px
    border-bottom: 1px solid transparent
    font-weight: 700

.panel-body
    padding: 1.5rem 0.875rem
    border-bottom-right-radius: 6px
    border-bottom-left-radius: 6px

.panel-default
    border-color: #cccccc

.panel-default > .panel-title
    background-color: #f9f9f9
    color: #555555
    border-bottom-color: #cccccc

.panel-success
    border-color: #93e7b6

.panel-success > .panel-title
    background-color: #d8f6e5
    color: #29b765
    border-bottom-color: #93e7b6

.panel-info
    border-color: #84e9e1

.panel-info > .panel-title
    background-color: #c3f4f0
    color: #20b4a8
    border-bottom-color: #84e9e1

.panel-warning
    border-color: #f9cf8b

.panel-warning > .panel-title
    background-color: #fdeed7
    color: #e08e0b
    border-bottom-color: #f9cf8b

.panel-danger
    border-color: #f5b4ae

.panel-danger > .panel-title
    background-color: #fef5f4
    color: #e43725
    border-bottom-color: #f5b4ae

.panel-primary
    border-color: #5faee3

.panel-primary > .panel-title
    background-color: #f5fafd
    color: #217dbb
    border-bottom-color: #5faee3

.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6
    margin-top: 0
    margin-bottom: 0.4rem

.panel a,
.panel > .btn
    margin-top: 0.5rem
    margin-bottom: 0

.panel p
    margin: 1rem 0 0 0
