//------------------------------------\\
//
//       @State Classes
//
//------------------------------------//
.f-is-success
    border-color: #2ecc71

.f-is-primary
    border-color: #3498db

.f-is-danger
    border-color: #e74c3c

.f-is-warning
    border-color: #f39c12

.f-is-info
    border-color: #24cabc

.a-is-success
    color: #25a25a
    border-color: #2ecc71
    background-color: #ecfbf2

.a-is-danger
    color: #d62c1a
    border-color: #e74c3c
    background-color: #fef5f4

.a-is-info
    color: #1c9f94
    border-color: #24cabc
    background-color: #f7fefd

.a-is-warning
    color: #c87f0a
    border-color: #f39c12
    background-color: #fef6ea

.a-is-primary
    color: #217dbb
    border-color: #3498db
    background-color: #f5fafd
